# Requisitos principais do JARVIS 5.0
python-dotenv
pyqt6
torch
transformers
mediapipe
vosk
edge-tts
chromadb
jina
# Adicione outras dependências específicas do projeto conforme necessário
aiofiles
pydantic-settings
